/* Style général de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #000;
    margin: 0;
    padding: 0;
}

section {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.titre {
    text-align: center;
    margin-bottom: 20px;
}

.titre h1 {
    color: #2c3e50; /* Violet foncé */
    font-size: 24px;
    text-transform: uppercase;
}

h2 {
    color: #2c3e50; /* Violet foncé */
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

form {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    background-color: #365CF5; /* Violet foncé */
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #365CF5; /* Violet encore plus foncé */
}

/* Table des catégories */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

table thead {
    background-color: #2c3e50;
    color: #fff;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Lien de déconnexion */
a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #2c3e50;
}