Options -Indexes
RewriteEngine On

# Redirige tout vers index.php avec le paramètre url
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

